# Compiled object files
*.o
*.obj

# Executable files
*.exe
*.out
*.app
*.bin

# Debug files
*.log
*.dSYM/
*.stackdump

# Build directories
build/
cmake-build-*/
CMakeFiles/
Makefile
CMakeCache.txt

# IDE files
.vscode/
.idea/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

